body {
    background-image: url('images/headphones_hero_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'Source Sans Pro' sans-serif;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    height: 10vh;
}

nav {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

nav img {
    margin-left: 10px;
}

nav ul li {
    margin-right: 20px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    text-align: center;
}

nav ul li a:hover {
    color: #FF6565;
}

button {
    background-color: #FF6565;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

main section div {
    width: 60%;
    text-align: center;
}