body {
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Source Sans Pro' sans-serif;
    height: 100%;
    margin: 0;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: top 0.3s ease;
}

nav {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

nav img {
    margin-left: 10px;
}

nav ul li {
    margin-right: 20px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    text-align: center;
}

nav ul li a:hover {
    color: #FF6565;
}

button {
    background-color: #FF6565;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

main {
    background-image: url('images/headphones_hero_1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

main section div {
    width: 60%;
    text-align: center;
}


#whatwedo {
    width: 80%;
    text-align: center;
    color: black;
    height: 100vh;

}

#whatwedo .intro p {

    margin: 20% 20% 10%;
    text-align: center;
    font-size: 1.0rem;

}

#whatwedo .row-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

}

#whatwedo .row-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(20% - 30px);
    padding: 10px;

}

.holberton_school-icon-ic_sound,
.holberton_school-icon-ic_video,
.holberton_school-icon-ic_music,
.holberton_school-icon-ic_hearing {
    color: #FF6565;
    font-size: 80px;
}

#ourresults {
    background-image: url(images/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
}

#ourresults .intro p {
    margin: 10% 20% 10%;
    text-align: center;
    font-size: 1.1rem;

}

#ourresults .row-items {

    width: 80%;
    height: 34%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

#ourresults .row-item {
    background-image: url(images/pentagone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    width: 18%;
    justify-content: center;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    padding: 2%;
}

#ourresults .row-item:hover {
    transform: scale(1.1) rotate(5deg) translateY(-10px);
    opacity: 0.8;
    box-shadow: 0 10px 30px rgba (0, 0, 0, 0.3);
    animation: bounce 1s eas-out infinite;

}


#ourresults .row-item .number {
    font-weight: bold;
    font-size: 40px;


}

#ourresults .row-item p {
    justify-content: center;
    margin: 0;

}

#contactus {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#form-container {

    width: 80%;
    margin-top: 10%;

}

#contactusForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.form-input {
    width: 30%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #979797;
    background-color: transparent;
    outline: none;
    font-size: 16px;
}

.form-input:focus {
    border-bottom: 2px solid #979797;
}

.form-botton {
    padding: 12px;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071629;
    width: 100%;
    padding: 40px 20px;
    height: 1000;
}

.footer-column {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 100%;
    margin: 0 auto;

}

.footer-column img {
    max-width: 60%;
}

.footer-column p {
    color: rgba(255, 255, 255, 0.445);
    font-size: 14px;
    font-weight: 100;
    margin-top: 50%;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons i {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 40px;
    cursor: pointer;


}


@keyframes bounce {
    0% {
        transform: translateY(0) scale(1);
    }

    30% {
        transform: translateY(-10) scale(1.1);
    }

    50% {
        transform: translateY(0) scale(1);
    }

    70% {
        transform: translateY(-5px) scale(1.05);
    }

    100% {
        transform: translateY(0) scale(1);
    }

}

.menu-toggle {
    display: none;
}

.hamburger {
   display: none;
}


@media (max-width: 768px) {
    nav {
        width: 100%;
        margin-top: 10%;
    }

    nav img {
        max-width: 150px;
        margin: auto;
    }

    nav ul {
        font-size: 1rem;
        margin: auto;
    }

    #whatwedo,
    #ourresults {
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: auto;
    }

    #whatwedo .row-items {
        width: 90%;

    }

    #whatwedo .row-item {
        width: 40%;
    }

    #whatwedo .row-item p {

        padding: 10px;
    }

    .form-input {
        width: 60%;
        margin-top: auto;
        height: auto;
    }

    #ourresults .row-items {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    #ourresults .row-item {
        width: 40%;
        margin: 2%;
        padding: 3%;

    }

    #ourresults .row-item p {
        padding: 5%;
    }
}

@media (max-width :480px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        
    }
    
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 170px;
        padding-top: 30px;
      
        height: 200px;
    }
    nav img {
       
        margin: 0;
    }
    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
    }

    nav ul li {
        margin-top: 20px;
    }

    .menu-toggle:checked+.hamburger+nav ul {
        display: flex;
        position: relative;
    }

    .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        margin: auto;
    }
    #hamburger-icon {
        display: block;
    }
    #close-icon {
        display: none;
    }
     .menu-toggle:checked + label #hamburger-icon {
        display: none;
     }
     .menu-toggle:checked + label #close-icon {
        display: block;
     }


    #mainsection {
        width: 100%;


    }

    #mainsection section {
        padding-top: 100px;
        padding-left: 20px;
        width: 90%;

    }

    #mainsection section div {

        width: 90%;
        margin-top: 12px;


    }

    #mainsection section div p {

        width: 100%;
    }

    #mainsection h1 {
        font-size: 30px;
        width: 100%;
        margin: 0;
    }

    #mainsection h5 {
        font-size: 20px;
    }

    button {
        font-size: 15px;
        padding: 4%;
        width: 50%;
    }

    #whatwedo .row-items {

        margin: auto;
        width: 100%;
    }

    #whatwedo .row-item {
        width: 50%;
        margin: auto;
    }

    #ourresults {
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #ourresults div {
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0;


    }

    #ourresults div {
        margin-top: 22%;

    }

    #ourresults .intro p {
        width: 90%;
        margin: 0 auto;
    }

    #ourresults .row-item {
        margin: 10% 0;
        width: 80%;
    }

    .form-input {
        width: 100%;

    }

    #footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 40px 20px;
        height: 40vh;

    }

    .footer-column {
        display: flex;
        width: 100%;
        height: 30%;
        justify-content: center;
        align-items: center;
        text-align: center;


    }

    .footer-column p {
        align-items: center;
        margin: auto;
    }

    .footer-column:nth-child(1) {
        order: 1;
    }

    .footer-column:nth-child(3) {
        order: 2;
    }

    .footer-column:nth-child(2) {
        order: 3;
    }



}